{% extends "base.html" %}
{% load humanize %}
{% block title %}Все пользователи{% endblock %}
{% block content %}
<h1>Топ пользователей по упоминаниям в тредах</h1>

<ul>
{% for u in users %}
<li class="av {% cycle 'even' 'odd' %}">
  <div class="y">{{ forloop.counter }}</div>
  <!--<div class="y" style="width:150px; "><img src="{{ u.get_avatar }}" height="100%" /></div>-->
  <div style="width:350px;">
    <a href="{% url 'profile' username=u.user.username %}">{{ u.user.username }}</a>
  </div> - <b>{{ u.count|intcomma }}</b>
</li>
{% endfor %}
</ul>
{% endblock %}
